<turbo-frame id="timer_<%= dom_id entry %>" />
  <p>
    <strong>Start:</strong>
    <%= entry.start %>
  </p>

  <p>
    <strong>Time Elapsed:</strong>
    <%= entry.time_elapsed %>
  </p>
</turbo-frame>
